h1{
    text-align: center;
    text-decoration: underline;
    color: #f00;
    font-size: 60px;
    font-family: sans-serif;
}

marquee {
    font-size: 3rem;
    background: linear-gradient(to left, #f00, #ff0, #00f);
    color: #fff;
}